*{
    margin: 0;
    padding: 0; 
   
   
}

body{
    background: url(./img/background-destination-desktop.jpg);
    background-repeat: none;
    background-attachment: fixed; 
    background-position: center;
    background-size: cover;

   
}
main{
color: white;

}
.header-content{
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    right:0;
    margin: 30px;
    
}
.header-nav{
    margin-right: -30px;
}
#nav-list{
    padding: 10px;
    display: flex;
    list-style: none;
    background-color: white;
    justify-content: center;
    align-items: center;
    background: linear-gradient(30deg, rgb(12, 12, 58),white)

    
}
a{
    margin-right: 50px;
    color: white;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
   
}

.bars{
    display: none;
}
.destination-content{
    display: flex;
    justify-content: space-between;
    width: auto
   
}
.destination-content1 p{
    margin-bottom: 20px;
}
.destination-content1 img{
    
    width: 100%;
    height: auto;
}
.mmm{
    height: 700px;
    width: 20vw;
    padding: 0px 100px 100px 200px;
}
.destination-content1{
    margin: 40px;
    
}
.destination-content2{
    width: 40vw;
   margin-top: 100px;
}

.content2-list ul{
    list-style: none;
    display: flex;
   

} 
.destination-content2 h1{
  
    margin-top: 50px;
}
.destination-content2 p{
    width: 30vw;
    text-align: justify;
}
hr{
    margin-top: 100px;
    width: 30vw;
}
.distance{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  
}

.distance p{
    width: 15vw;
}
@media screen and (max-width:780px){

    body{
        background: url(./img/background-destination-mobile.jpg);
        background-repeat: none;
        background-attachment: fixed; 
        background-position: center;
        background-size: cover;
        overflow-y: visible;
    }
    .nav-content{
        display: flex;
        flex-direction: column;
    }
    #navDisplay{
        display: none;
    }

    #nav-list{
        display: flex;
        flex-direction: column;
        margin-top:50px;
        margin-left: -200px;
        background-color: black;
        color: white;
       background: none;
       text-align: center;   
       animation: growDown 300ms ease-in-out forwards;
       transform-origin:right;
    }

    @keyframes growDown {
        0% {
          transform: scaleY(0)
        }
        80% {
          transform: scaleY(1.1)
        }
        100% {
          transform: scaleY(1)
         }
       
    }
    #nav-list li{
        margin-top: 20px;
        text-align: justify;
        
    }
    .bars{
        display: block;
    }
    .destination-content{
        display: flex;
        flex-direction: column;
        width: 100vw;
       
    }
    .mmm{
        width: 70vw;
        height: 500px;
        padding: 0px;
        margin-top: 100px;
    }
    .destination-content2{
      margin: auto;
    }
    .content2-list ul{
        margin-left: -50px;
    }
    .content2-list{
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    .content2-list a{
       
       margin: 5px;
    }
   .destination-content2 p{
        width: 70vw;
        margin-left: -70px;
        margin-top: 20px;
        text-align: center;
    }
    hr{
      width: auto;
    }
    .distance{
       display: flex;
       flex-direction: column;
      
    }
    .distance2, .distance1 h4{
        width: 200px;
        margin-left: 30px;
    }
    .distance2 p, .distance1 p{
        font-size: 30px;
    }
}